@import '_vars';
@import '_mixins';

//start forum page
.forum__inner {
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  padding: 35px 10px;
  min-height: 80.8vh;
}

.forum-page-title {
  margin-bottom: 20px;
}

.forum__articles {
  margin-bottom: 20px;
  .forum-article:nth-child(odd) {
    background-color: darken($color: #252c35, $amount: 2%);
  }
}

.forum-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;

  background-color: #252c35;
  border: 1px solid #343d48;
  border-bottom: none;
  transition: all 0.3s;

  &:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.11) 0%,
      rgba(255, 255, 255, 0.11) 100%
    );
  }

  &.forum-article:last-child {
    border-bottom: 1px solid #343d48;
  }
}

.forum-article-img {
  padding-right: 15px;
  img {
    display: block;
    width: 45px;
    max-height: 38px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.forum__article-author-thema-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid $border;
  height: 60px;

  padding-left: 10px;
}
.forum-article-topic-info {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  padding: 0 15px;
}

.forum-article-topic-author {
  width: 60px;
  img {
    display: block;
    height: 40px;
    max-width: 60px;
  }
}
.forum__article-thema {
  display: flex;
  flex-direction: column;
  max-width: 665px;
  width: 100%;
}

.forum__article-thema-title {
  font-size: 16px;
  @include f400;
  color: #fff;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  &.pinned {
    position: relative;
    padding-left: 20px;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../img/icons/pinned.png');
      width: 12px;
      height: 17px;
      left: 0;
    }
  }
}

.forum__article-thema-content {
  font-size: 14px;
  color: $text2;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
}
.ico.forum__article-comments {
  justify-content: flex-start;
  padding-left: 20px;
  &::before {
    left: 0px;
  }
}
.forum__article-comments {
  padding-right: 10px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-width: 90px;
  @include f500;
  font-size: 12px;
  color: $text2;
  margin-left: auto;
  &.locked {
    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/icons/lock.png');
      background-size: cover;
      width: 12px;
      height: 17px;
      left: 0;
    }
  }
  &::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/article-page/comments.png);
    width: 16px;
    height: 14px;
    left: 27px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.forum__article-author {
  display: flex;
  width: 30%;
  min-width: 170px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  min-height: 60px;
}

.author-thema,
.author-thema-time {
  text-align: end;
  width: 100%;
}
.author-thema {
  border-left: 1px solid $border;

  min-height: 60px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.author-thema-name {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
}

.author-thema-time {
  font-size: 12px;
  color: $text2;
}

.author-thema-avatar {
  margin-left: 10px;
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.forum__title {
  color: $text2;
  font-size: 16px;
  @include f500;
  margin: 5px 0;
  padding: 0 40px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background: rgb(37, 44, 53);
  background: linear-gradient(
    90deg,
    rgba(37, 44, 53, 1) 0%,
    rgba(48, 60, 77, 1) 48%,
    rgba(48, 60, 77, 1) 52%,
    rgba(37, 44, 53, 1) 100%
  );
  margin-bottom: 5px;
}

//end forum page
@media (max-width: 970px) {
  .forum__article-author {
    width: 40%;
  }
  .forum-article-topic-info {
    width: 60%;
  }
}

@media (max-width: 920px) {
  .forum__article-author-thema-box {
    border-left: none;
    width: auto;
  }
}
@media (max-width: 710px) {
  .forum-article {
    flex-wrap: wrap;
    padding: 5px;
  }
  .forum-article-topic-info {
    width: 100%;
    // border-bottom: 1px solid $border;
  }
  .forum__article-author {
    width: 100%;
  }
  .author-thema {
    border-left: none;
  }
  .forum__article-thema-content {
    -webkit-line-clamp: 2;
  }
}
