@import '_vars';
@import 'global';

.thread__topic-reply.thread__topic-create {
  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: '+';
    background-image: none;
    color: #525b67;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 18px;
    background-color: $text2;
    top: 50%;
    transform: translateY(-50%);
  }
}

.forum__article-thema {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .forum__article-thema {
    width: 100%;
  }
}
